body, .container {
	background-color: lightblue;
}

.form-login .form-register {
	max-width: 330px;
	background-color: white;
	padding: 20px;
	display: block;
	margin: auto;
	border-radius: 10px;
	margin-top: 20px;
}

.pengaduan {
	background-color: white;
	padding: 20px;
	height: auto;
	min-height: 100vh;
}

.navbar {

}

.tanggapan {
	padding: 50px;
}